<div class="book-card">
    <div class="title">
        <a href="/book/{{id}}" class="book-title">
        {{title}}
        </a>
    </div>
    <div class="book-body">
        <p>by {{author}}</p>
        <p>Genre: {{category.name}}</p>
        {{#if vote_count}}
        <p>Votes: {{vote_count}}</p>
        {{/if}}
        <p>
        {{#if checked_out}}
        Unavailable
        {{else}}
        Available
        {{/if}}
        </p>
    </div>
</div>
