<div class="single-book">
  <div class="book-header">
    <h2>
      {{book.title}}
    </h2>
    <p>
      by {{book.author}}
    </p>
  </div>
  <div class="single-book-body">
    <p>
      Genre: {{book.category.name}}
    </p>
    <p>
      {{#if book.checked_out}}
      Sorry, this book is not available.<br>
      {{else}}
      Good news! this book is available!<br>
      <button id="book-check-out">Check Out</button>
      {{/if}}
      {{#if onWishlist}}
      <button id="remove-from-wishlist" data-id={{wish.book.id}}>Remove from wishlist</button>
      {{else}}
      <button id="add-to-wishlist">Add to wishlist</button>
      {{/if}}
    </p>
  </div>
</div>

<div class="vote">
  <h3>
    Votes: {{book.vote_count}}
  </h3>
  
  <button id="vote-btn">Vote for this book</button>
</div>

<div class="reviews">
  {{#if book.reviews}}
<h3>
  Reviews
</h3>
{{#each book.reviews as |review|}}
{{> review-info review}}
{{!-- shouldn't it be >review-content? as seen in add-review --}}
{{/each}}
{{/if}}
<a href="" id="add-a-review">Add A Review</a>
</div>

<button id="remove-from-wishlist" data-id={{wish.book.id}}>Remove from wishlist</button>
<script src="/javascript/remove-from-wishlist.js"></script>
<script src="/javascript/add-book.js"></script>
<script src="/javascript/vote.js"></script>
<script src="/javascript/add-to-wishlist.js"></script>

