<div class="single-book">
  <div class="book-header">
    <h2>
      {{book.title}}
    </h2>
    <p>
      by {{book.author}}
    </p>
  </div>
  <div class="single-book-body">
    <p>
      Genre: {{book.category.name}}
    </p>
    <p>
      {{#if book.checked_out}}
      Sorry, this book is not available.
      {{else}}
      Good news! this book is available!<br>
      <button id="book-check-out">Check Out</button>
      {{/if}}
    </p>
  </div>
</div>

<div class="vote">
  <h3>
    Votes
  </h3>
  {{#each book.vote as |vote|}}
  Votes: {{userVotes}}
  {{/each}}
  <a href="" id="vote-btn">Vote for a book</a>
</div>

<div class="reviews">
  {{#if book.reviews}}
<h3>
  Reviews
</h3>
{{#each book.reviews as |review|}}
{{> review-info review}}
{{/each}}
{{/if}}
<a href="/addreview" id="add-a-review">Add A Review</a>
<a href="/addbook" id = "add-a-book">Add A Book</a>
</div>
