<div class="single-book">
  <div class="book-header">
    <h2>
      {{book.title}}
    </h2>
    <p>
      by {{book.author}}
    </p>
  </div>
  <div class="single-book-body">
    <p>
      Genre: {{book.category.name}}
    </p>
    <p>
      {{#if book.checked_out}}
      Sorry, this book is not available.<br>
      {{else}}
      Good news! this book is available!<br>
      <div class="add-book-date">
                <p>Select a return date.</p>
               <input type="text" id="rangeDate" placeholder="Select date" data-input>
            </div>
      <button class="check-out-book">Check Out</button>
      {{/if}}
      
        {{#if book.return_date}}
        <p>Return on {{format_date book.return_date}}</p>
        {{/if}}
      {{#if checkedOut}}
      <button class="check-in-book">Return this book</button>

      {{/if}}
      {{#if onWishlist}}
      <button id="remove-from-wishlist" data-id={{wish.book.id}}>Remove from Wishlist</button>
      {{else}}
      <button id="add-to-wishlist">Add to Wishlist</button>
      {{/if}}
    </p>
  </div>
</div>

<div class="vote">
  <h3>
    Votes: {{book.vote_count}}
  </h3>

  {{#each book.vote as |vote|}}
  Votes: {{userVotes}}
  {{/each}}
</div>

<div class="reviews">
  {{#if book.reviews}}
<h3>
  Reviews
</h3>
{{#each book.reviews as |review|}}
{{> review-info review}}
{{/each}}
{{/if}}
<div class="links">
<a href="/account" id="vote-a-book">Vote For This Book</a>
<a href="/addreview/{{book.id}}" id="add-a-review">Add A Review</a>
<a href="/addbook" id = "add-a-book">Add A Book</a>
</div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="module" src="/javascript/vue.js"></script>

<script src="/javascript/checkout-book.js"></script>
<script src="/javascript/remove-from-wishlist.js"></script>
<script src="/javascript/add-book.js"></script>
<script src="/javascript/vote.js"></script>
<script src="/javascript/add-to-wishlist.js"></script>
<script src="/javascript/checkin-book.js"></script>
